.btn, .options{
    background-color: rgb(0, 0, 97);
    color: white;
}

.options:hover, .btn:hover {
    background-color: #C778EB;
}

#question, .options {
    margin-left: 20%;
    margin-right: 10%;
}

.options {
    text-align: left;
    width: 20%;
    margin-bottom: 5px;
}

#hs {
    color: #C778EB;
}

#question-border {
    border-top: 5px solid rgb(197, 197, 197) !important;
    margin-left: 20%;
    margin-right: 10%;
}

.large-fontsize {
    font-size: 8em;
    font-weight: bold;
}

#stat-msg {
    margin-left: 20%;
    font-size: 1em;
    color: black;
}